/*主面板样式*/
#container {
    width: 100%;
    margin: 0px auto; /*主面板DIV居中*/
    background-color: white;
}
/*顶部面板样式*/
#header {
    width: 100%;
    height: 80px;
    border: 1px #F00 solid;
    text-align: center;
}
/*中间部分面板样式*/
#main {
    width: 100%;
    height: 450px;
    border: 1px #F00 solid;
}
/*底部面板样式*/
#footer {
    width: 100%;
    height: 30px;
    border: 1px #F00 solid;
    text-align: center;
}

#first {
    width: 20%;
    height: 100%;
    border: 1px #F00 solid;
    /*text-align: center;*/
    float: left;
}

#second {
    width: 79%;
    height: 100%;
    float: left;
    background:url("../images/hbu1.jpg") no-repeat;
    background-size:cover;
    background-position:center; 
}

.content1 {
    margin: 0px auto;
    width: 50%;
    height: 100%;
}
