<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>主界面</title>
	<meta charset="utf-8" />
    <link href="../styles/Init.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="container">
        <div id="header">
            <p><font size="30" color="red">学生管理系统</font></p>
        </div>

        <div id="main">
            <div id="first">
                <div class="content1">
                    <ul>
                        <li><a href="../StudentMain.ashx">学生管理</a></li>
                        <li><a href="../TeacherMain.ashx">老师管理</a></li>
                        <li><a href="../ClassMain.ashx">班级管理</a></li>
                    </ul>
                </div>
            </div>

            <div id="second">

            </div>
        </div>

        <div id="footer">
            <a href="../Feedback.ashx">反馈</a> 
           <a  href="../QuitSession.ashx" >退出</a>
        </div>

    </div>
</body>
</html>
