<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>影碟出租系统 | 帮助中心</title>
	<!--mobile apps-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Rental Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<!--mobile apps-->
	<!--Custom Theme files -->
	<link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
	<link rel="stylesheet" href="/css/prettySticky.css" type="text/css">
	<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
	<!-- //Custom Theme files -->
	<!-- js -->
	<script src="/js/jquery-1.11.1.min.js"></script>
	<!-- //js -->
	<!-- start-smoth-scrolling-->
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});

	</script>
	<!--//end-smoth-scrolling-->
</head>

<body>
	<!--banner-->
	<div id="home" class="banner about-banner">
		<div class="banner-info">
			<!--navigation-->
			<div class="top-nav">
				<nav>
					<div class="container">
						<div class="navbar-header logo">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<h1><a href="/index.ashx">影碟出租网</a></h1>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-right">
								<li><a href="/index.ashx" class="link-kumya "><span data-letters="首页">首页</span></a></li>								
								<li><a href="/search.ashx" class="link-kumya"><span data-letters="搜索">搜索</span></a></li>
								<li><a href="/recommend.ashx" class="link-kumya"><span data-letters="推荐">推荐</span></a></li>
								<li><a href="/help.ashx" class="link-kumya active"><span data-letters="帮助">帮助</span></a></li>
								<li><a href="/user.ashx" class="link-kumya"><span data-letters="用户中心">用户中心</span></a></li>
								<li><a href="/contact.ashx" class="link-kumya"><span data-letters="联系">联系</span></a></li>
							</ul>	
							<div class="clearfix"> </div>
						</div>
					</div>
				</nav>
			</div>
			<!--//navigation-->
			<div class="banner-text">
				<h2>我们将帮你找到你梦寐以求的影碟</h2>
			</div>
		</div>
	</div>
	<!--//banner-->
	<!--about-->
	<div class="about">
		<div class="container">
			<h3 class="title">帮助中心</h3>
			<div class="blog-info">
				<div class="col-md-3 blog-grids">
					<div class="blog-img">
						<a href="/detail.ashx"> <img src="/images/g6.jpg" class="img-responsive zoom-img" alt=""/></a>
					</div>
					<h4><a href="/detail.ashx">Fringilla condi me ntum consectetur</a></h4>
					<p class="snglp">Posted By<a href="#"> Admin</a> &nbsp;&nbsp;on  January 30, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage	There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
					<div class="more more2">
						<a href="/detail.ashx" class="button-pipaluk button--inverted"> Read More</a>
					</div>
				</div>
				<div class="col-md-3 blog-grids">
					<div class="blog-img">
						<a href="/detail.ashx"> <img src="/images/g8.jpg" class="img-responsive zoom-img" alt=""/></a>
					</div>
					<h4><a href="/detail.ashx">Consectetur fringilla condi me ntum </a></h4>
					<p class="snglp">Posted By<a href="#"> Admin</a> &nbsp;&nbsp;on  February 03, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage	There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
					<div class="more more2">
						<a href="/detail.ashx" class="button-pipaluk button--inverted"> Read More</a>
					</div>
				</div>
				<div class="col-md-3 blog-grids">
					<div class="blog-img">
						<a href="/detail.ashx"> <img src="/images/g2.jpg" class="img-responsive zoom-img" alt=""/></a>
					</div>
					<h4><a href="/detail.ashx">Qonsectetur fringilla condi me ntum </a></h4>
					<p class="snglp">Posted By<a href="#"> Admin</a> &nbsp;&nbsp;on  February 10, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage	There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
					<div class="more more2">
						<a href="/detail.ashx" class="button-pipaluk button--inverted"> Read More</a>
					</div>
				</div>
				<div class="col-md-3 blog-grids">
					<div class="blog-img">
						<a href="/detail.ashx"> <img src="/images/g7.jpg" class="img-responsive zoom-img" alt=""/></a>
					</div>
					<h4><a href="/detail.ashx">Fringilla consectetur condi me ntum </a></h4>
					<p class="snglp">Posted By<a href="#"> Admin</a> &nbsp;&nbsp;on  February 20, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage	There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
					<div class="more more2">
						<a href="/detail.ashx" class="button-pipaluk button--inverted"> Read More</a>
					</div>
				</div>
				<div class="col-md-3 blog-grids">
					<div class="blog-img">
						<a href="/detail.ashx"> <img src="/images/g4.jpg" class="img-responsive zoom-img" alt=""/></a>
					</div>
					<h4><a href="/detail.ashx">Sednsectetur condi me ntum fringilla </a></h4>
					<p class="snglp">Posted By<a href="#"> Admin</a> &nbsp;&nbsp;on  march 02, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage	There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
					<div class="more more2">
						<a href="/detail.ashx" class="button-pipaluk button--inverted"> Read More</a>
					</div>
				</div>
				<div class="col-md-3 blog-grids">
					<div class="blog-img">
						<a href="/detail.ashx"> <img src="/images/g5.jpg" class="img-responsive zoom-img" alt=""/></a>
					</div>
					<h4><a href="/detail.ashx">Secteturcon fringilla condi mentum </a></h4>
					<p class="snglp">Posted By<a href="#"> Admin</a> &nbsp;&nbsp;on  march 09, 2016 &nbsp;&nbsp; <a href="#">Comments (10)</a></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor If you are going to use a passage	There are many variations of passages of Lorem Ipsum available, but the majority have suffered </p>
					<div class="more more2">
						<a href="/detail.ashx" class="button-pipaluk button--inverted"> Read More</a>
					</div>
				</div>
				<div class="clearfix"> </div>
				
	
			</div>	
			<!-- <div class="about-info">
				<div class="col-md-7 about-grids">
					<div class="about-row">
						<div class="col-md-4 about-imgs">
							<img src="/images/img1.jpg" alt="" class="img-responsive zoom-img" />
						</div>
						<div class="col-md-4 about-imgs">
							<img src="/images/img2.jpg" alt="" class="img-responsive zoom-img" />
						</div>
						<div class="col-md-4 about-imgs">
							<img src="/images/img1.jpg" alt="" class="img-responsive zoom-img" />
						</div>
						<div class="clearfix"> </div>
					</div>
					<h4>Blanditiis praesentium deleniti atque corrupti quos </h4>
					<p>Dignissimos at vero eos et accusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
						quos dolores et quas molestias excepturi sint occaecat officia deserunt mollitia laborum et dolorum fuga. At vero eos
						et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
						et quas molestias excepturi sint occaecat </p>
				</div>
				<div class="col-md-5 about-grids">
					<div class="pince">
						<div class="pince-left">
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
						</div>
						<div class="pince-right">
							<h4>Why Choosing Us? </h4>
							<p>Vero vulputate enim non justo posuere placerat. Phasellus eget mauris.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
						</div>
						<div class="pince-right">
							<h4>Our Tasks</h4>
							<p>Dero vulputate enim non justo posuere placerat. purus vel mauris.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="pince">
						<div class="pince-left">
							<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
						</div>
						<div class="pince-right">
							<h4>Our History</h4>
							<p>Justo posuere placerat. Vero vulputate enim non Phasellus eget mauris.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div> -->
		</div>
	</div>
	<!--//about-->
	<!-- testimonials -->
	<!-- <div class="testimonials">
		<div class="container">
			<h3 class="title">Testimonials</h3>
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="testimonials-grid">
								<img src="/images/quote.png" alt=" " class="img-responsive" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam sed do eiusmod.</p>
								<h5>John Doe,<span> Tempor</span></h5>
							</div>
						</li>
						<li>
							<div class="testimonials-grid">
								<img src="/images/quote.png" alt=" " class="img-responsive" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam sed do eiusmod.</p>
								<h5>Elit semper,<span> Veniam</span></h5>
							</div>
						</li>
						<li>
							<div class="testimonials-grid">
								<img src="/images/quote.png" alt=" " class="img-responsive" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua. Ut enim ad minim veniam sed do eiusmod.</p>
								<h5>Daniel Nyari,<span> Enim </span></h5>
							</div>
						</li>
					</ul>
				</div>
			</section>
			
			<script defer src="/js/jquery.flexslider.js"></script>
			<script type="text/javascript">
				$(window).load(function () {
					$('.flexslider').flexslider({
						animation: "slide",
						start: function (slider) {
							$('body').removeClass('loading');
						}
					});
				});
			</script>
		
		</div>
	</div> -->
	<!-- //testimonials -->
	<!--team-->
	<!-- <div class="team">
		<div class="container">
			<h3 class="title">Meet Our Team</h3>
			<div class="team-grids">
				<section class="main">
					<ul class="ch-grid">
						<li>
							<div class="ch-item ch-img-1">
								<div class="ch-info">
									<h3>Designer</h3>
									<p>by Daniel Nyari</p>
									<div class="footer-bottom">
										<a href="#"></a>
										<a href="#"></a>
										<a href="#"></a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-2">
								<div class="ch-info">
									<h3>Designer</h3>
									<p>by Johnathen</p>
									<div class="footer-bottom">
										<a href="#"></a>
										<a href="#"></a>
										<a href="#"></a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-3">
								<div class="ch-info">
									<h3>Designer</h3>
									<p>by Fedrick Paul</p>
									<div class="footer-bottom">
										<a href="#"></a>
										<a href="#"></a>
										<a href="#"></a>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-4">
								<div class="ch-info">
									<h3>Designer</h3>
									<p>by Stellawil vari</p>
									<div class="footer-bottom">
										<a href="#"></a>
										<a href="#"></a>
										<a href="#"></a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div> -->
	<!--//team-->
	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="col-md-4 footer-grids">
				<h3>评论</h3>
				<p>这个网站很好用，用户体验很好，值得推广。希望您动动手指给同伴分享一下。</p>

                <br />
                <div class="bshare-custom icon-medium-plus">
                    <a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" class="bshare-more">分享到</a>
                    <a title="分享到QQ空间" class="bshare-qzone"></a>
                    <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                    <a title="分享到人人网" class="bshare-renren"></a>
                    <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
                <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>

			</div>
			<div class="col-md-3 footer-grids">
				<h3>联系我们</h3>
				<p>地址：中国保定河北大学新校区五四东路2666号<br>
					 <span>电话：15930779698</span>
                    <span>邮箱：2273009930@qq.com</span>  
				</p>
			</div>
			<div class="col-md-5 footer-grids">
				<h3>照片墙</h3>
				<a class="footer-img" href="#"> <img src="/images/f1.jpg" alt=""/></a>
				<a class="footer-img" href="#"> <img src="/images/f2.jpg" alt=""/></a>
				<a class="footer-img" href="#"> <img src="/images/f3.jpg" alt=""/></a>
			</div>
			<div class="clearfix"> </div>
			<div class="footer-copy">
				<p>© 2018 影碟出租. 保留所有权利 | <a href="#">河北大学网络空间安全与计算机学院网工二班第一组成员</a>设计</p>
			</div>
		</div>
	</div>
	<!--//footer-->
	<!-- script-for prettySticky -->
	<script src="/js/prettySticky.js"></script>
	<!--//script-for prettySticky -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/bootstrap.js"></script>
</body>

</html>