@using MvcApplication2.ViewModels

@model FooterViewModel

<div style="text-align: right; background-color: silver; color: darkcyan; border: 1px solid gray; margin-top: 2px; padding-right: 10px;">

    @Model.CompanyName © @Model.Year

</div>

